.row.collapse{id: target_id}
  .col-md-12
    .card
      .card-body
        - @comment = comment
        = bootstrap_form_for @comment do |f|
          .form-group
            = f.text_area :body, rows: 4, label: 'New Comment', autofocus: true
          .form-group
            = f.hidden_field :field, value: field
            = f.hidden_field :commentable_id, value: commentable.id
            = f.hidden_field :commentable_type, value: commentable.class.name
          .form_group
            = f.collection_select :category_comment_id, CategoryComment.where.not(name: 'fast please check').order(:name), :id, :name
            = f.submit 'Save Comment'
