- commented_entry.comments.where(field: field).order(:created_at).each do |comment|
  .row.mb-3
    .col-12
      - unless comment.category_comment.name.eql? 'fast please check'
        = comment.body.html_safe
      %small.text-muted
        &mdash;
        = "#{comment.created_by.code}, #{comment.updated_at.strftime('%b %Y')}"
        = "(#{comment.category_comment.name})"
        .float-right
          = delete_comment_button comment

