%nav{'aria-label': 'breadcrumb', role: 'navigation'}
  %ol.breadcrumb
    %li.breadcrumb-item
      = link_to 'Text Module Dashboard', text_dashboard_url
    %li.breadcrumb-item.active{'aria-current': 'page'}
      Comments

.container
  .row
    .col-12
      %h1.mb-4.border-bottom
        Comments

  %table.table
    %thead.thead-light
      %tr
        %th Category
        %th Commentable
        %th Field
        %th Body
    %tbody
      - @comments.each do |comment|
        %tr
          %td= comment.category_comment.name
          %td= link_to "#{comment.commentable_type} #{comment.commentable_id}", polymorphic_url(comment.commentable)
          %td= comment.field
          %td= comment.body.html_safe
