= bootstrap_form_with model: @attestation, local: true, class: 'needs-validation novalidate' do |f|

  - unless @attestation.id
    = f.hidden_field :extract_id, value: @attestation.extract_id
    - extract_with_line_breaks = @attestation.extract.add_line_breaks

    .row.mb-3
      .col-6
        .form-group
          = f.text_area :extract_coptic, value: extract_with_line_breaks.coptic, rows: '10', class: 'form-control antinoou'
          = f.hidden_field :extract_coptic_original, value: extract_with_line_breaks.coptic
      .col-6
        .form-group
          = f.text_area :extract_translation, value: extract_with_line_breaks.translation, rows: '10', class: 'form-control translation-field'
          = f.hidden_field :extract_translation_original, value: extract_with_line_breaks.translation
    .row.mb-5
      %small.col-12
        Zeilenumbrüche dienen nur der Übersichtlichkeit und werden nicht gespeichert.

    .row
      .col-3.text-center
        = link_to 'Extract Orthography', '#', id:'extract_orthography', 'data-turbolinks': 'false', class: 'btn-resource-action mr-5'
      .col-3.text-center
        = link_to 'Reset Changes', '#', id: 'clear_orthography', 'data-turbolinks': 'false', class: 'btn-resource-action'
      .col-6
        #extract-errors.text-danger
          = fa_icon('exclamation-triangle')
          %span#extract-error-message

  .row
    .form-group.col-6
      = f.text_field :orthography, readonly: true, class: 'form-control antinoou'

    .form-group.col-6
      = f.text_field :encoding, class: 'form-control'

  .row
    .col-12
      .actions
        = f.submit
