.row
  .col-2
    = attestation.id
    = user_info_tooltip attestation
  .col-4.antinoou
    = attestation.orthography
  .col-4
    = attestation.encoding
  .col-2
    .row
      .col-6
        = link_to fa_icon('times'), attestation, method: :delete, data: { confirm: 'Do you want to delete this attestation permanently?' }, class: 'btn btn-block btn-resource-action'
      .col-6
        = link_to fa_icon('edit'), edit_attestation_path(attestation), class: 'btn btn-block btn-resource-action'
