%nav{'aria-label': 'breadcrumb', role: 'navigation'}
  %ol.breadcrumb
    %li.breadcrumb-item
      = link_to 'Text Module Dashboard', text_dashboard_url
    %li.breadcrumb-item
      = link_to 'Extracts', extracts_url
    %li.breadcrumb-item
      = link_to @attestation.extract.id, extract_url(@attestation.extract)
    %li.breadcrumb-item.active{'aria-current': 'page'}
      Attestation
      = @attestation.id


.container
  .row
    .col-12
      = render 'form', attestation: @attestation
