%nav{'aria-label': 'breadcrumb', role: 'navigation'}
  %ol.breadcrumb
    %li.breadcrumb-item
      = link_to 'Text Module Dashboard', text_dashboard_url
    %li.breadcrumb-item.active{'aria-current': 'page'}
      Attestations

.container
  .row
    .col-12
      %h1.mb-4.border-bottom
        Attestations

  %table.table
    %thead.thead-light
      %tr
        %th Orthography
        %th Encoding
        %th Extract
    %tbody
      - @attestations.each do |attestation|
        %tr
          %td.antinoou= attestation.orthography
          %td= attestation.encoding
          %td= link_to 'Go to Extract', attestation.extract

