= bootstrap_form_with model: extract, local: true do |form|
  .row
    .col-6
      .form-group
        = form.text_area :coptic, class: 'form-control antinoou', rows: '10'

    .col-6
      .form-group
        = form.text_area :translation, class: 'form-control translation-field', rows: '10'
  .row.mb-5
    %small.col-12
      Zeilenumbrüche dienen nur der Übersichtlichkeit und werden nicht gespeichert.
      Neue Attestationen werden
      = link_to 'hier', new_attestation_path(params: {extract_id: extract.id})
      hinzugefügt werden.
      %br
      Bei Klick in ein Tag-Element wird das gesamte Element markiert.
  .row.mb-3
    .col-12
      .row
        .col-4
          .form-group
            = form.text_field :manuscript_position, class: 'form-control'
        .col-4
          .form-group
            = form.text_field :text_position, class: 'form-control'
        .col-4
          .form-group
            = form.text_field :edition_position, class: 'form-control'
  .row.mb-3
    .col-4
      .form-group
        = form.text_field :quote_origin, class: 'form-control'
    .col-4
      .form-group
        = form.text_field :quote_type, class: 'form-control'
  .row.mb-3
    .col-2
      .form-group
        = form.check_box :unchecked_quote
    .col-2
      .form-group
        = form.check_box :checked_upload, checked: true
  .actions
    = form.submit
