.row
  .col-2
    = extract.id
    = user_info_tooltip extract
  .col-2
    - if extract.edition_position.present?
      Edition:
      = extract.edition_position
  .col-2
    - if extract.manuscript_position.present?
      Manuscript:
      = extract.manuscript_position
  .col-2
    - if extract.text_position.present?
      Text:
      = extract.text_position
  .col-4
    - unchecked_upload_note extract, class: 'float-right'
.row.mt-3
  .col-6.antinoou
    != highlight_attestations extract.coptic
  .col-6.increased-line-height
    != highlight_attestations extract.translation

.row
  .col-10
    - wrong_tag_count_note extract
  .col-1
    = link_to "#{fa_icon('eye')} View".html_safe, extract_path(extract), class: 'btn btn-block btn-resource-action'
  .col-1
    = link_to "#{fa_icon('edit')} Edit".html_safe, edit_extract_path(extract), class: 'btn btn-block btn-resource-action'