%nav{'aria-label': 'breadcrumb', role: 'navigation'}
  %ol.breadcrumb
    %li.breadcrumb-item
      = link_to 'Text Module Dashboard', text_dashboard_url
    %li.breadcrumb-item.active{'aria-current': 'page'}
      Extracts

.container
  .row
    .col-12
      %h1.mb-4.border-bottom
        Extracts

  .row.mb-5
    .col-12
      = link_to "#{fa_icon('plus')} New Extract".html_safe, new_extract_path, class: 'btn btn-resource-action'
  .row
    .col-12.card
      %ul.preview-list
        - @extracts.each do |extract|
          %li
            .row
              .col-12
                = render partial: 'extracts/preview', locals: {extract: extract}


