%nav{'aria-label': 'breadcrumb', role: 'navigation'}
  %ol.breadcrumb
    %li.breadcrumb-item
      = link_to 'Text Module Dashboard', text_dashboard_url
    %li.breadcrumb-item
      = link_to 'Extracts', extracts_url
    %li.breadcrumb-item.active{'aria-current': 'page'}
      = @extract.id

.container
  %h3.mt-3.mb-3
    Extract

  .card-deck
    .card
      .card-body
        .card-text.antinoou
          != @extract.coptic
      .card-footer
        %hr
        .row
          .col-3.offset-1
            = comment_button '#copticComment'
          .col-3
            = toggle_please_check_button @extract, 'coptic'
    .card
      .card-body
        .card-text.translation-field
          != @extract.translation
      .card-footer
        %hr
        .row
          .col-3.offset-1
            = comment_button '#translationComment'
          .col-3
            = toggle_please_check_button @extract, 'translation'
  .card-deck.mb-3
    .card.card-comment
      .card-body
        .card-text
          = render partial: 'comments/show_comments', locals: {commented_entry: @extract, field: 'coptic'}
          = render partial: 'comments/add_comment', locals: {target_id: 'copticComment', field: 'coptic', commentable: @extract, comment: Comment.new}
    .card.card-comment
      .card-body
        .card-text
          = render partial: 'comments/show_comments', locals: {commented_entry: @extract, field: 'translation'}
          = render partial: 'comments/add_comment', locals: {target_id: 'translationComment', field: 'translation', commentable: @extract, comment: Comment.new}

  .row.mb-3
    .col-12
      .card
        .card-body
          .card-text
            .row
              .col-3
                Edition:
                = @extract.edition_position
              .col-3
                Manuscript:
                = @extract.manuscript_position
              .col-3
                Text:
                = @extract.text_position
              .col-3
                - if @extract.unchecked_quote
                  unchecked quote
                - else
                  Quote:
                  = @extract.quote_type
                  = @extract.quote_origin

  .row
    .col-1.text-center
      = user_info_tooltip @extract
    .col-7
      - unchecked_upload_note @extract
      - wrong_tag_count_note @extract
    .col-2
      - unless @extract.checked_upload
        = link_to "#{fa_icon('check')} Check".html_safe, check_upload_extract_path(@extract), class: 'btn btn-resource-action'
    .col-2
      = link_to "#{fa_icon('edit')} Edit Extract".html_safe, edit_extract_path, class: 'btn btn-block btn-resource-action text-right'


  %h3.mt-5.mb-3
    Attestations
  .row
    .col-12
      = link_to "#{fa_icon('plus')} New Attestation".html_safe, new_attestation_path(params: {extract_id: @extract.id}), class: 'btn btn-resource-action'
  .row.mt-3
    .col-12
      .card
        .card-body
          .card-text
            %ul.preview-list
              - @extract.attestations.each do |a|
                %li= render partial: 'attestations/preview', locals: {attestation: a}

