- if flash[:info] or flash[:warning] or flash[:success] or flash[:error]
  .container-fluid
    .fadeout
      .row
        .col-12
          -if flash[:success]
            .alert.alert-success
              =flash[:success]
              %button{class: 'close', 'data-dismiss': 'alert', href: '#'}
                %strong &times
          -if flash[:warning]
            .alert.alert-warning
              =flash[:warning]
              %button{class: 'close', 'data-dismiss': 'alert', href: '#'}
                %strong &times
          -if flash[:error]
            .alert.alert-danger
              =flash[:error]
              %button{class: 'close', 'data-dismiss': 'alert', href: '#'}
                %strong &times
          -if flash[:info]
            .alert.alert-info
              =flash[:info]
              %button{class: 'close', 'data-dismiss': 'alert', href: '#'}
                %strong &times
