%nav{'aria-label': 'breadcrumb', role: 'navigation'}
  %ol.breadcrumb
    %li.breadcrumb-item
      = link_to 'Text Module Dashboard', text_dashboard_url
    %li.breadcrumb-item.active{'aria-current': 'page'}
      Users

.container
  .row
    .col-12
      %h1.mb-4.border-bottom
        Users

  %table.table
    %thead.thead-light
      %tr
        %th Code
        %th= '#Extracts'
        %th= '#Attestations'
    %tbody
      - @users.order(:code).each do |user|
        %tr
          %td= user.code
          %td= Extract.where(created_by: user).count
          %td= Attestation.where(created_by: user).count

  .row
    .col-12
      = link_to 'New User', new_user_path
