%nav{'aria-label': 'breadcrumb', role: 'navigation'}
  %ol.breadcrumb
    %li.breadcrumb-item
      = link_to 'Text Module Dashboard', text_dashboard_url
    %li.breadcrumb-item.active{'aria-current': 'page'}
      = link_to 'Users', users_path

.container
  .row.mb-3
    .col-12
      = form_with(model: @user, local: true) do |form|
        .field
          = form.label :code
          = form.text_field :code
        .actions
          = form.submit
