- User.all.each do |user|
  - extracts = Extract.where(checked_upload: false, created_by_id: user.id).order(:id)
  - if extracts.count > 0
    .card.mb-3
      .card-header
        = "Unchecked Uploads from #{user.code} (#{extracts.count})"
      .card-body
        %ul.preview-list
          - extracts.each do |extract|
            %li
              .row
                .col-12
                  = render partial: 'extracts/preview', locals: {extract: extract}
              .row.mt-2
                .col-12
                  = link_to "#{fa_icon('check')} Check".html_safe, check_upload_extract_path(extract), class: 'btn btn-resource-action'