%nav{'aria-label': 'breadcrumb', role: 'navigation'}
  %ol.breadcrumb
    %li.breadcrumb-item.active{'aria-current': 'page'}
      Text Module Dashboard

.container
  .row
    .col-12
      %h1.mb-4.border-bottom
        Text Module Dashboard
  .row
    .col-8
      .card.h-100
        .card-header
          Upload Extracts
        .card-body
          = form_tag upload_and_parse_dashboards_path, multipart: true do
            = file_field_tag :file, accept: 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'
            = submit_tag 'Start Upload', class: 'btn btn-primary float-right'
    .col-4
      .card.h-100
        .card-header
          Navigation
        .card-body
          = link_to 'Extracts', extracts_url
          |
          = link_to 'Attestations', attestations_url
          |
          = link_to 'Comments', comments_url
          |
          = link_to 'Users', users_url
  .row.mt-4
    .col-12
      = render 'unchecked_uploads'


