/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require attestations
 *= require rails_bootstrap_forms
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import 'font-awesome';

@font-face {
  font-family: 'Antinoou';
  font-weight: normal;
  font-style: normal;
  src: font-url('Antinoou.ttf') format('truetype');
}

.antinoou {
  margin-top: -0.25rem;
  line-height: 2.5rem;
  font-size: 1.2rem;
  font-family: 'Antinoou', sans-serif
}

.translation-field {
  line-height: 2.5rem;
}

.increased-line-height {
  line-height: 2.5em;
}

.dark-background {
  background-color: #e9ecef;
}

.card-footer {
  background-color: white;
  border: none;
}

.card-comment {
  font-size: 0.8rem;
  color: $gray-800;
  border: none;
  .card-body { background-color: #f8f9fa; }
}

.btn-add-comment {
  color: darkblue;
  background-color: transparent;
  padding: 0;
  margin-bottom: 5px;
  border: none;
  &:hover, &:focus {
    color: $gray-200;
  }
}

body {
  font-family: 'Noto Sans CJK JP Regular', sans-serif;
  padding-bottom: 10px;
  background-color: $gray-100;
}

.breadcrumb {
  background-color: $gray-100;
}

.card {
  background-color: white;
}

.preview-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li+li {
    border-top: 1px solid $gray-300;
  }
  li {
    padding: 18px 0;
  }
}

a {
  color: darkblue;
}

.a-inverse {
  color: $gray-200;
  &:hover {
    color: darkblue;
    text-decoration: none;
  }
  &:active {
    border-style: none;
  }
}

.value-deactive {
  color: $gray-300;
  &:hover { color: darkblue; }
}

.value-active {
  color: darkblue;
  &:hover { color: $gray-300; }
}

.btn-resource-action {
  padding: 0;
  &:hover {
    color: $gray-200;
    text-decoration: none;
  }
  &:active {
    border-style: none;
  }
}

attestation {
  background-image: linear-gradient(-100deg, rgba(255, 254, 240, 10), rgb(255, 254, 163) 80%, rgba(255, 254, 240, 10));
  &::before {
    content: '^';
  }
  &::after {
    content: '^';
  }
}


