// Place all the styles related to the Attestations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#extract-errors {
  margin-bottom: 20px;
  visibility: hidden;
}